*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.about-info{
    padding: 2vw 3vw;
    margin: 4vw 2vw;
    text-align: center;
}
.about-info h5{
    font-family:poppins;
}

.about-info p{
    letter-spacing: 1px;
    line-height: 20px;
}